:root {
  --dark-logo-font: #424242;
  --white: #ffffff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; 
}

main {
  flex: 1 0 auto;
}

body,
.social-links li i{
  color: var(--dark-logo-font);
}

body,
.social-links,
.social-links li i{
  color: var(--dark-logo-font);
}

.btn-outline-grey {
  background: #424242;
  color: #fff !important; /* use important to override link colors for <a> elements */
  border: 1px solid #424242;
}

.btn-outline-grey:hover,
.btn-outline-grey:active,
.btn-outline-grey:focus {
  background: #fff;
  color: #424242 !important;
  border: 1px solid #424242;

}


/* Footer Styling */
footer ul {
  list-style: none;
}
.social-links {
  font-size: 1.5rem;
}

.social-links i:hover,
.social-links i:active,
.social-links i:focus {
  color: red !important;

}


