/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}

body{
    color: red;
    background-color: yellow;
}