<div
    class="collapse navbar-collapse justify-content-center"
    id="navbarDropdown"
>
    <ul class="navbar-nav p-2 rounded-1">
        <li class="nav-item dropdown pe-lg-5">
            <a
                class="nav-link font-dark border-0 fs-5"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                All Products <i class="fa-sharp fa-solid fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu border-0">
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?sort=developer&direction=asc"
                        >By Developer</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?sort=year_of_release&direction=asc"
                        >By Year of Release</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?sort=user_review&direction=asc"
                        >By Reviews Ratings</a
                    >
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}"
                        >All Products</a
                    >
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown pe-lg-5">
            <a
                class="nav-link font-dark border-0 fs-5"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                By Manufacturer <i class="fa-sharp fa-solid fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu border-0">
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?manufacturer=nintendo"
                        >Nintendo</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?manufacturer=sega"
                        >Sega</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?manufacturer=sony"
                        >Sony</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?manufacturer=microsoft"
                        >Microsoft</a
                    >
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown pe-lg-5">
            <a
                class="nav-link font-dark fs-5"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                All Console <i class="fa-sharp fa-solid fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu border-0">
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=3DS"
                        >3DS</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Dreamcast"
                    >
                        Dreamcast</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=DS"
                        >DS</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Gameboy"
                        >Gameboy</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Gameboy Advance"
                        >Gameboy Adavnce</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Gamecube"
                        >Gamecube</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Mega Drive"
                        >Mega Drive</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=N64"
                        >N64</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=NES"
                        >NES</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=PS1"
                        >PS1</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=PS2"
                        >PS2</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=PS3"
                        >PS3</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=PS4"
                        >PS4</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=PSP"
                        >PSP</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=PS Vita"
                        >PS Vita</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Saturn"
                        >Saturn</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=SNES"
                        >SNES</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=Wii"
                        >Wii</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=XBOX"
                        >XBOX</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="{% url 'products' %}?platform=XBOX 360"
                        >XBOX 360</a
                    >
                </li>
            </ul>
        </li>
        <li class="nav-item pe-lg-5">
            <a
                class="nav-link font-dark border-0 fs-5"
                href="{% url 'contact' %}"
                aria-label="About"
            >
                Contact Us
            </a>
        </li>
    </ul>
</div>
