
    <div class="collapse navbar-collapse justify-content-center" id="navbarDropdown">
      <ul class="navbar-nav p-2 rounded-1">
        <li class="nav-item dropdown pe-lg-5">
          <a class="nav-link font-dark border-0 fs-5" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            All Products <i class="fa-sharp fa-solid fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu border-0">
            <li><a class="dropdown-item" href="#">By Developer</a></li>
            <li><a class="dropdown-item" href="#">By Year of Release</a></li>
            <li><a class="dropdown-item" href="#">By Reviews Ratings</a></li>
            <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown pe-lg-5">
          <a class="nav-link font-dark border-0 fs-5" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            By Manufacturer <i class="fa-sharp fa-solid fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu border-0">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown pe-lg-5">
          <a class="nav-link font-dark fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All Console <i class="fa-sharp fa-solid fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu border-0">
            <li><a class="dropdown-item font-dark" href="#">Action</a></li>
            <li><a class="dropdown-item font-dark" href="#">Another action</a></li>
            <li><a class="dropdown-item font-dark" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>