<div class="collapse navbar-collapse justify-content-center" id="navbarDropdown">
	<ul class="navbar-nav p-2 rounded-1">
		<li class="nav-item dropdown pe-lg-5">
			<a class="nav-link font-dark border-0 fs-5" href="#" role="button" data-bs-toggle="dropdown"
				aria-expanded="false">
				All Products <i class="fa-sharp fa-solid fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu border-0">
				<li>
					<a class="dropdown-item" href="{% url 'products' %}?sort=developer&direction=asc">By Developer</a>
				</li>
				<li>
					<a class="dropdown-item" href="{% url 'products' %}?sort=year_of_release&direction=asc">By Year of
						Release</a>
				</li>
				<li>
					<a class="dropdown-item" href="{% url 'products' %}?sort=user_review&direction=asc">By Reviews
						Ratings</a>
				</li>
				<li>
					<a class="dropdown-item" href="{% url 'products' %}">All Products</a>
				</li>
			</ul>
		</li>
		<li class="nav-item dropdown pe-lg-5">
			<a class="nav-link font-dark border-0 fs-5" href="#" role="button" data-bs-toggle="dropdown"
				aria-expanded="false">
				By Manufacturer <i class="fa-sharp fa-solid fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu border-0">
				{% for manufacturer in manufacturers %}
				<li>
					<a class="dropdown-item" href="{% url 'products' %}?manufacturer={{manufacturer.name}}">{{manufacturer.name|title}}</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		<li class="nav-item dropdown pe-lg-5">
			<a class="nav-link font-dark fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				All Console <i class="fa-sharp fa-solid fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu border-0">
	
				{% for a, b in links.items %}
				<li><a class="dropdown-item" href="{% url 'products' %}?platform={{b}}">{{a}}</a>
				</li>
				{% endfor %}

			</ul>
		</li>
		<li class="nav-item pe-lg-5">
			<a class="nav-link font-dark border-0 fs-5" href="{% url 'contact' %}" aria-label="About">
				Contact Us
			</a>
		</li>
	</ul>
</div>