{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="card col-12 col-md-6 mt-5 border border-light">
    <h2 class="card-header font-white">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="border border-light" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="button secondaryAction font-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    </div>
{% endblock %}
