{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Comaptible" content="ie-edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <title>Eternal Retro Games {% block extra_title %}{% endblock %}</title>
  {% block core_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
    <script rel="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

</head>

<body>
  <header>
    <div class="row nav-margin">
      <nav>
        <div class="nav-wrapper grey lighten-5">
          <a href="{% url 'home' %}" class="brand-logo grey lighten-5">Eternal <strong><em>Retro</em></strong> Games</a>
          <a href="#" data-target="mobile-ddd" class="sidenav-trigger"><i class="fa-sharp fa-solid fa-bars grey-text text-darken-3"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Sass</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Mobile</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-ddd">
        <li><a href="https:\\www.google.com">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Mobile</a></li>
      </ul>
    </div>
</header>

{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block page_header %}
{% endblock %}
<main>
  {% block content %}
  {% endblock %}
</main>

<footer class="page-footer grey lighten-5 grey-text text-darken-3">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <h5 class="white-text center-align grey-text text-darken-3">Lets get social!</h5>
        <ul class="social-links">
          <li><a class="hoverable grey-text text-darken-3" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a class="hoverable grey-text text-darken-3" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
          <li><a class="hoverable grey-text text-darken-3" href="https://www.pinterest.com" target="_blank"><i class="fa-brands fa-pinterest"></i></a></li>
          <li><a class="hoverable grey-text text-darken-3" href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      <a class="grey-text text-darken-4" href="https://github.com/Daferia" target="_blank">© 2022 Daferia</a>
    </div>
  </div>
</footer>

{% block postloadjs %}
{% endblock %}


</body>
</html>
