{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100">
    <div class="row h-100 justify-content-center card-details">
        <div class="col-8 mt-4">
            <div class="card col-12 border-0">
                    <div class="row">
                            <div class="col-12 col-md-6 align-self-center">
                                {% if product.image %}
                                <a href="{{ product.image.url }}" target="_blank">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name}}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}no_cover_image.jpg" class="card-img-top"
                                        alt="{{ product.name}}">
                                </a>
                                {% endif %}
                            </div>
                        <div class="col-12 col-md-6 align-self-center">
                            <div class="card-body">
                                <h4 class="card-title">{{product.name}}</h4>
                                <p class="card-text">{{ product.summary }}</p>
                                <p class="card-text">{{ product.platform }}</p>
                                <p class="card-text">£{{ product.selling_price }}</p>
                                {% if product.user_review %}
                                <p class="card-text text-muted rating-star"><i class="fa-solid fa-star"></i> {{ product.user_review }}</p>
                                {% else %}
                                <p class="card-text text-muted">No Ratings</p>
                                {% endif %}
                                
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-4"></div>
</div>
</div>
{% endblock %}